<div class="container">
  <div class="row header">
    <h1 class="title col-sm-12 col-md-12 col-lg-3 col-xl-3" (click)="returnInitial()">Pokedex</h1>
    <mat-form-field class="search col-sm-12 col-md-12 col-lg-8 col-xl-8" floatLabel="always">
      <mat-label>Pokemon's name</mat-label>
      <input matInput [formControl]="search" (keydown.enter)="onSearchPokemon()" placeholder="">
    </mat-form-field>
  </div>
  <div class="row justify-content-center" *ngIf="isLoading">
    <div class="col-4">
      <span>Loading.... please wait!!</span>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div *ngIf="!isSearching" class="row pokemon__list">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let pokemon of pokemons"
      routerLink="/pokemon/{{pokemon.name}}">
      <div class="card {{'bg-color-'+ getPrincipalType(pokemon.types) + '-light'}}">

        <div class="card__info">
          <h2 class="color-white">{{pokemon.name}}</h2>
        </div>
        <div class="card__img">
          <img [src]="pokemon.sprites?.front_default" [alt]="pokemon.name">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isSearching" class="pokemon__list" routerLink="/pokemon/{{searchPokemon.name}}">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card {{'bg-color-'+getPrincipalType(searchPokemon.types) +'-light'}}">
        <div class="card__info">
          <h2 class="color-white">{{searchPokemon.name}}</h2>
        </div>
        <div class="card__img">
          <img [src]="searchPokemon.sprites?.front_default" [alt]="searchPokemon.name">
        </div>
      </div>
    </div>
  </div>
  <div class="paginator">
    <button [disabled]="isFirstPage || isSearching" (click)="prev()"><svg xmlns="http://www.w3.org/2000/svg" width="35"
        height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
      </svg></button>
    <button [disabled]="isFirstPage && !isSearching" (click)="returnInitial()">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-house"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
        <path fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
      </svg>
    </button>
    <button [disabled]="isSearching" (click)="next()"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35"
        fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
      </svg></button>
  </div>

</div>
