<div class="container">
  <div class="row header">
    <h1 class="title col-sm-12 col-md-12 col-lg-3 col-xl-3" routerLink="/listpokemons">Pokedex</h1>
    <mat-form-field class="search col-sm-12 col-md-12 col-lg-8 col-xl-8" floatLabel="always">
      <mat-label>Pokemon's name</mat-label>
      <input matInput [formControl]="search" (keydown.enter)="onSearchPokemon()" placeholder="">
    </mat-form-field>
  </div>
  <div class="row justify-content-center" *ngIf="isLoading">
    <div class="col-4">
      <span>Loading.... please wait!!</span>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>




  <div *ngIf="!isSearching" class="col-sm-6 col-md-6 col-lg-4 col-xl-4" routerLink="/pokemon/{{pokemon.name}}">
    <div class="card {{'bg-color-'+ getPrincipalType(pokemon.types) + '-light'}}">

      <div class="card__info">
        <h2 class="color-white">{{pokemon.name}}</h2>
      </div>
      <div class="card__img">
        <img *ngIf="pokemongif" [src]="pokemongif" [alt]="pokemon.name" />
      </div>
      <div class="card__stats">
        <div class="stats__title">
          <p>HP  </p>
          <p>Attack</p>
          <p>Defense</p>
          <p>Spec. Attack</p>
          <p>Spec. Deffense</p>
          <p>Speed</p>
        </div>
        <ul>
          <li *ngFor="let stat of pokemon.stats">{{stat.base_stat}}
          </li>
        </ul>

      </div>
    </div>

  </div>



  <div *ngIf="isSearching" class="pokemon__list" routerLink="/pokemon/{{searchPokemon.name}}">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <div class="card {{'bg-color-'+getPrincipalType(searchPokemon.types) +'-light'}}">
        <div class="card__info">
          <h2 class="color-white">{{searchPokemon.name}}</h2>
        </div>
        <div class="card__img">
          <img [src]="searchPokemon.sprites?.front_default" [alt]="searchPokemon.name">
        </div>
      </div>
    </div>
  </div>
